html, body {
    color : white;
    background-color : #555;
}

.canvas {
    margin: 20px auto auto;
    text-align : center;
}

canvas {
    width: 900px;
    height: 900px;
    border : solid 2px #fff;
    background-color : #333;
    image-rendering: pixelated;
}