<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Langton's Ant!</title>
    <link rel="stylesheet" href="../res/css/index.css">
    <script src="../res/js/ant.js"></script>
</head>
<body onload="init()">
    <div class="canvas">
        <canvas id="test"></canvas>
    </div>
    <article class="content">
        <h1>Speeeeeeeeeeeeed!</h1>
        <input type="range" max="10000" onchange="changeSpeed(this.value)">
        <input id="pattern" type="text" placeholder="Insert Pattern">
        <input type="submit" value="Apply Pattern">
    </article>

    <script src="../res/js/index.js"></script>
</body>
</html>
